/*Universal Styles*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Prompt', sans-serif;
}

.logo_container {
    text-align: center;
    padding: 1.3em 0 0.8em 0;
}

.main_content_wrapper {
    background: #FBFBFB;
    -webkit-box-shadow: 0px 4px 34px rgba(134, 134, 134, 0.25);
    box-shadow: 0px 4px 34px rgba(134, 134, 134, 0.25);
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 20%;
}

.header_copy_wrapper {
    text-align: center;
    padding: 0.5em 1.5em 0 1.5em;
    max-width: 500px;
    margin: 0 auto;
}

.header_copy_wrapper h1 {
    font-size: 20px;
    line-height: 1.4;
    color: #000;
}

.header_copy_wrapper h1 span {
    color: #30AFEC;
}

.header_copy_wrapper p {
    font-size: 16px;
    line-height: 1.4;
    color: #4E4E4E;
    padding-top: 0.8em;
}

.form_wrapper input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 12px 0;
    display: block;
    border: 1px solid #959393;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form_wrapper input[type=submit] {
    width: 100%;
    background-color: #2D4EC1;
    color: white;
    padding: 14px 20px;
    margin: 15px 0 10px 0;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.form_wrapper label {
    font-size: 16px;
    color: #251E1E;
}

.form_wrapper label span {
    color: #D91111;
}

.form_wrapper {
    padding: 2em 2em 0.5em 2em;
    max-width: 500px;
    margin: 0 auto;
}

.project_address_wrapper input {
    margin-bottom: 3px !important;
}

.location_label {
    text-align: right;
    font-size: 10px;
    color: #4E4E4E;
    font-weight: normal;
}

.BBB_container {
    text-align: center;
    padding: 1.5em 0;
}

.BBB_container img {
    width: 20%;
}

.fine_print_wrapper {
    padding: 1em 1.5em;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.fine_print_wrapper p {
    font-size: 12px;
    color: #4E4E4E;
    line-height: 1.5;
}

.fine_print_wrapper p a {
    color: #2D4EC1;
    text-decoration: underline;
}

.footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em;
    background-color: #FBFBFB;
}

.footer_side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footer_side li {
    list-style: none;
    line-height: 1.2;
    padding: 0.5em;
}

.footer_side li a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    color: #515151;
    cursor: pointer;
    -webkit-transition: 500ms color ease;
    transition: 500ms color ease;
}

.lower_footer_container {
    background-color: #251E1E;
    padding: 0.8em;
}

.lower_footer_container p {
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
}

.lower_footer_container p a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: 500ms color ease;
    transition: 500ms color ease;
}

@media screen and (min-width: 375px) {
    .logo {
        width: 18%;
    }

    .BBB_container img {
        width: 18%;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        width: 9%;
    }

    .BBB_container img {
        width: 9%;
    }
}
